/* Шрифт */
$primary-text: 'Open Sans';
$secondary-text: 'Raleway';

/* Свойства шрифта */
$primary-font-size: 18px;
$primary-font-weight: 400;
$primary-line-height: 30px;
$primary-letter-spacing: 0.02em;

/* Цвет шрифта */
$primary-text-color: #555555;
$secondary-text-color: #9DA4BD;
$other-text-color: #303030;
$accent-text-color: #FF6C00;

/* Цвет фона */
$primary-background-color: #FFFFFF;
$secondary-background-color: #F7F7F7;